html, body {
    height: 100%;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh; 
    font-family: "Inter";  
}
.title{
    font-size: 90px;
    margin-top: 60px;
    margin-bottom: 80px;
}

.buttons { 
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center; 
    align-items: center;
    margin-bottom: 40px;
}

button {
    width: 300px;
    height: 75px;
    border: none;
    border-radius: 35px;
    font-size: 27px;
    margin: 10px 0;
    background-color: rgba(184, 184, 184, 0.699);
    color: rgb(0, 0, 0);
}
button:hover{
    background-color:  rgba(184, 184, 184, 0.541);
}

footer {
    background-color: black;
    color: white;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    margin-top: auto;
}
